<header>
  <mat-toolbar color="primary">
    <a mat-button routerLink="/home">Cadmus</a>

    <span class="tb-fill-remaining-space"></span>

    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/demo/layers" routerLinkActive="active">Layers Demo</a>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div layout="row" layout-align="center center">
    <p>Cadmus by
      <a href="http://www.fusisoft.net" target="_blank">Daniele Fusi</a>
    </p>
  </div>
</footer>
