<header>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
    <span style="flex: 0 0 60px"
      ><img src="./assets/img/logo-white-40.png" alt="Fusisoft"
    /></span>
    <a mat-button routerLink="/home">Cadmus</a>

    <span class="tb-fill-remaining-space"></span>

    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>

    <button mat-button [matMenuTriggerFor]="demoMenu">Demo</button>
    <mat-menu #demoMenu>
      <a mat-menu-item routerLink="/demo/layers">Layers</a>
      <a mat-menu-item routerLink="/demo/note-part">Note part</a>
      <a mat-menu-item routerLink="/demo/orthography-fragment">Orthography fragment</a>
    </mat-menu>

  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div layout="row" layout-align="center center">
    <p>
      Cadmus by
      <a href="http://www.fusisoft.net" target="_blank">Daniele Fusi</a>
    </p>
  </div>
</footer>
