<header>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
    <span style="flex: 0 0 60px"
      ><img src="./assets/img/logo-white-40.png" alt="Fusisoft"
    /></span>
    <a mat-button routerLink="/home">Cadmus</a>

    <button
      mat-button
      [matMenuTriggerFor]="itemMenu"
      *ngIf="logged && itemBrowsers"
    >
      Items
    </button>
    <mat-menu #itemMenu>
      <a mat-menu-item routerLink="/items">Items</a>
      <a
        mat-menu-item
        *ngFor="let entry of itemBrowsers"
        [routerLink]="'item-browser/' + getItemBrowserRoute(entry.id)"
        >{{ entry.value }}</a
      >
    </mat-menu>
    <ng-container *ngIf="logged && !itemBrowsers">
      <a mat-button routerLink="/items">Items</a>
    </ng-container>

    <a mat-button routerLink="/search" *ngIf="logged">Search</a>

    <a
      mat-button
      routerLink="/thesauri"
      *ngIf="
        user && (user.roles.includes('admin') || user.roles.includes('editor'))
      "
      >Thesauri</a
    >

    <button mat-button [matMenuTriggerFor]="demoMenu" *ngIf="logged">
      Demo
    </button>
    <mat-menu #demoMenu>
      <a mat-menu-item [matMenuTriggerFor]="partsMenu">Parts</a>
      <a mat-menu-item [matMenuTriggerFor]="fragmentsMenu">Fragments</a>
      <a mat-menu-item routerLink="/demo/layers">Text Layers</a>
    </mat-menu>
    <mat-menu #partsMenu>
      <a mat-menu-item routerLink="/demo/categories-part">Categories</a>
      <a mat-menu-item routerLink="/demo/keywords-part">Keywords</a>
      <a mat-menu-item routerLink="/demo/index-keywords-part">Index keywords</a>
      <a mat-menu-item routerLink="/demo/note-part">Note</a>
      <a mat-menu-item routerLink="/demo/historical-date-part"
        >Historical date</a
      >
      <a mat-menu-item routerLink="/demo/bibliography-part">Bibliography</a>
      <a mat-menu-item routerLink="/demo/token-text-part">Token text</a>
      <a mat-menu-item routerLink="/demo/tiled-text-part">Tiled text</a>
    </mat-menu>
    <mat-menu #fragmentsMenu>
      <a mat-menu-item routerLink="/demo/apparatus-fragment">Apparatus</a>
      <a mat-menu-item routerLink="/demo/comment-fragment">Comment</a>
      <a mat-menu-item routerLink="/demo/chronology-fragment">Chronology</a>
      <a mat-menu-item routerLink="/demo/orthography-fragment">Orthography</a>
      <a mat-menu-item routerLink="/demo/quotations-fragment">Quotations</a>
      <a mat-menu-item routerLink="/demo/witnesses-fragment">Witnesses</a>
    </mat-menu>

    <span class="tb-fill-remaining-space"></span>

    <div *ngIf="logged" fxLayout="row" fxLayoutAlign="start center">
      <img [src]="getGravatarUrl(user.email, 32)" [alt]="user.userName" />
      <mat-icon
        class="small-icon"
        *ngIf="user && user.roles.includes('admin')"
        title="admin"
        >build</mat-icon
      >
      <mat-icon
        class="small-icon"
        *ngIf="user && !user.emailConfirmed"
        title="You must verify your email address! Please check your mailbox {{
          user.email
        }}"
        >feedback</mat-icon
      >
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu x-position="before" #menu="matMenu">
        <a
          mat-menu-item
          *ngIf="user && user.roles.includes('admin')"
          routerLink="/admin"
          >Admin</a
        >
        <a mat-menu-item (click)="logout()">Logout</a>
      </mat-menu>
    </div>

    <div *ngIf="!logged">
      <a mat-button routerLink="/login">Login</a>
    </div>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div layout="row" layout-align="center center">
    <p>
      Cadmus by
      <a href="https://www.fusisoft.net" target="_blank">Daniele Fusi</a>
    </p>
  </div>
</footer>
