<h2>Home</h2>
<p><button type="button" (click)="validateJson()">JSON validation</button></p>

<cadmus-note-part-demo></cadmus-note-part-demo>

<!-- note 2-way databinding for selectedIndex: it's a bug in Angular, need it -->
<!-- <mat-tab-group [(selectedIndex)]="currentTabIndex">
  <mat-tab label="Code">
    <cadmus-json-editor-resources
      title="Note"
      [(partJson)]="partJson"
      [(thesauriJson)]="thesauriJson"
      (partJsonChange)="onCodeSaved()"
      (thesauriJsonChange)="onCodeSaved()"
    ></cadmus-json-editor-resources>
  </mat-tab>
  <mat-tab label="Editor">
    <cadmus-note-part
      [(json)]="partJson"
      [thesauri]="thesauriJson"
      (jsonChange)="onEditorSaved()"
      (editorClose)="onEditorSaved()"
    ></cadmus-note-part>
  </mat-tab>
</mat-tab-group> -->
<!-- <cadmus-part-editor-demo></cadmus-part-editor-demo> -->
<!-- <cadmus-orthography-fragment [fragment]="orthographyFragment"></cadmus-orthography-fragment> -->
