<h2>Home</h2>
<mat-tab-group>
  <mat-tab label="Code">
    <cadmus-json-editor-resources
      title="Note"
      [(partJson)]="partJson"
      [(thesauriJson)]="thesauriJson"
    ></cadmus-json-editor-resources>
  </mat-tab>
  <mat-tab label="Editor">
    <cadmus-note-part
      [(json)]="partJson"
      [thesauri]="thesauriJson"
    ></cadmus-note-part>
  </mat-tab>
</mat-tab-group>
<!-- <cadmus-part-editor-demo></cadmus-part-editor-demo> -->
<!-- <cadmus-orthography-fragment [fragment]="orthographyFragment"></cadmus-orthography-fragment> -->
